* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 211, 218);
}

img {
    border: 3px solid red;
}

h1 {
    border: 5px dotted pink;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

cite {
    font-size: 1.5rem;
}

.bigbold {
    font-weight: bold;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: brown;
}

a:visited {
    color: rgb(8, 116, 8);
    font-weight: bold;
    font-size: 2rem;
}

nav {
    /* border: 1px solid black; */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    border: 1px solid red;
    background-color: lightgreen;
    width: 10rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    display: inline-block;
}

nav a {
    display: block;
    padding: 1rem;
}

nav a:hover {
    background-color: white;
}