html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}

/* Exercise */

/* Header Section */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftheader {
    margin-right: 20px;
}

.rightheader h1 {
    color: #DA0090;
    font-size: 2.8rem;
    margin-bottom: 0;
    padding: 0;
}

.rightheader p {
    margin-top: -7px;
}

/* Nav Section */

nav ul {
    display: flex;
    justify-content: center;
    border-top: 2px solid #DA0090;
    border-bottom: 2px solid #DA0090;
    list-style-type: none;
}

nav ul li {
    margin: 15px 17px;
}

/* Section */

section article {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

section article img {
    float: left;
    border-radius: 20px;
}

.articleinfo {
    margin-left: 20px;
}

/* Footer */




